{% extends "base.html.twig" %}

{% block body %}




<div class="jumbotron text-center">

    <h1>Bienvenue sur ma homepage Snowtricks</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi velit neque repellat culpa! Cupiditate, dolores
        odit, optio quae repudiandae consequuntur.</p>

    <h2>Image</h2>

</div>

<div class="container">

    <h2 style="text-align:center;">Les dernieres figures</h2>

    <div class="row flex">
        {% for trick in tricks %}
        <div class="col-5">

            <h5 class="card-title"> <a href="{{ path('trick_show', {'id': trick.id}) }}">{{trick.name}}</a> <a
                    href="{{ path('trick_edit', {'id': trick.id}) }}"> edit</a> {{
                include('trick/_delete_form.html.twig') }} </h5>

            <p class="card-text">{{trick.description}}</p>

            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}