{% extends "base.html.twig" %}

{% block body %}

{% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{message}}
</div>
{% endfor %}


<div class="jumbotron jumbotron-fluid d-flex flex-column justify-content-center text-center">
    
    <section id="header">

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.isVerified == true %}
        <h3>Bienvenue <p>{{ app.user.email }} !</p>
        </h3>
        {% endif %}

       
            <div class="col" style="background: url('/media/tricks/images/61ddc7092168a389320854.jpg' ) no-repeat center center; 
                width: 100%;
                height: 980px;
                background-size: cover;">

                <h1 class="text-uppercase text-white">Join The Snowboard</h1>
                <h1 class="text-uppercase text-white">Riders Community</h1>
                <p class="pt-5">
                <a href="#tricks" class="scroll-to btn btn-primary btn-sm text-uppercase">Voir Tricks&nbsp;&nbsp;<i class="fa fa-arrow-down" aria-hidden="true"></i></a>
                </p>

            </div>
                       
     </section>      

</div>

<div class="container py-5">

    <section id="tricks" class="row py-5">

        <h2 style="text-align:center;">Les dernieres tricks</h2>
        <div class="row py-5" id="tricks">
            {{ include('trick/_tricklist.html.twig', { tricks: tricks }) }}  
        </div>

    </section>

        <div class="col text-center">
            <button id="load-more" class="btn btn-primary">Load more</button>
        </div>

        <div id="scrollUp">
            <a href='#top'><img src='/media/to_top.png'/></a>
        </div>

</div>  




{% endblock %}

{% block javascripts %}

    <script src= "{{ asset('js/scroll.js') }}"></script>
    <script src= "{{asset('js/load_more.js') }}"></script>


{% endblock %}