{{ form_start(form) }}

<div class="col-md-10">{{ form_row(form.name) }}</div>
<div class="col-md-10">{{ form_row(form.description) }}</div>
<div class="col-md-10">{{ form_row(form.category) }}</div>
<div class="col-md-10">{{ form_row(form.imageFiles) }}</div>
{% for image in trick.images %}
<div class="col" style="width:100 px; flex: none; margin: 5px">
    <img src="{{vich_uploader_asset(image,'imageFile') }} " width="100" alt="">
</div>
{% endfor %}
<div class="col-md-10">{{ form_row(form.videoFiles) }}</div>
{% for video in trick.videos %}
<div class="col" style="width:100 px; flex: none; margin: 5px">
    <video width="320" height="240" controls>
        <source src="{{vich_uploader_asset(video,'videoFile') }}" type="video/mp4">
    </video>
</div>
{% endfor %}

{{ form_rest(form) }}
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}