{{ form_start(form) }}

<div class="col-md-10">{{ form_row(form.name) }}</div>
<div class="col-md-10">{{ form_row(form.description) }}</div>
<div class="col-md-10">{{ form_row(form.category) }}</div>
<div class="col-md-10">{{ form_row(form.imageFiles) }}</div>
{% for image in trick.images %}
<div class="col" style="width:100 px; flex: none; margin: 5px">
    <img src="{{vich_uploader_asset(image,'imageFile') }} " width="100" alt="">
</div>
{% endfor %}
<div class="col-md-10">
    <h5>Videos  à télécharger</h5> 
   <ul class="videos" data-index="{{ form.videos|length > 0 ? form.videos|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"> 
        
        {% for video in form.videos %}
            <li>{{ form_row(video.url) }}</li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="videos">Ajouter video</button>

</div>

{{ form_rest(form) }}
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{% block javascripts %}
<script>document.querySelectorAll('.add_item_link').forEach(btn => btn.addEventListener("click", addFormToCollection));
</script>
{% endblock %}