{% extends 'base.html.twig' %}

{% block title %}Trick index{% endblock %}

{% block body %}

<div class="container">
    <h1>Trick index</h1>

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Categorie</th>
                <th>Images</th>
                <th>Videos</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
            {% for trick in tricks %}
            <tr>
                <td>{{ trick.name }}</td>
                <td>{{ trick.description }}</td>
                <td>{{ trick.category }}</td>
                <td>
                    {% for image in trick.images %}
                    <div class="col" style="width:100 px; flex: none; margin: 5px">
                        <img src="{{vich_uploader_asset(image,'imageFile') }} " width="100" alt="">
                        <form method="post" action="{{ path('image_delete', {'id': image.id}) }}"
                            onsubmit="return confirm('Êtes-vous vraiment sûr ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ image.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
                    </div>
                    {% endfor %}
                </td>
                <td>
                    {% for video in trick.videos %}
                    <div class="col" style="width:100 px; flex: none; margin: 5px">
                        <video width="320" height="240" controls>
                            <source src="{{vich_uploader_asset(video,'videoFile') }}" type="video/mp4">
                        </video>
                        <form method="post" action="{{ path('video_delete', {'id': video.id}) }}"
                            onsubmit="return confirm('Êtes-vous vraiment sûr ?');">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
                            <button class="btn">Supprimer</button>
                        </form>
                    </div>
                    {% endfor %}
                </td>




                <td>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}">show</a>
                    <a href="{{ path('trick_edit', {'id': trick.id}) }}">edit</a>
                </td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trick_new') }}">Créer un nouveau trick</a>
</div>
{% endblock %}