{% extends "base.html.twig" %}

{% block body %}

<div class="container mt-4">

    {% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endfor %}

    <div class="container py-5">
        <div class="row py-5" id="tricks">
            {{ include('trick/_tricklist.html.twig', { tricks: tricks }) }}
        </div>

        <div class="row mt-4">
            <div class="col-12 text-center">
                <p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user.isVerified == true %}
                <a href="{{ path('trick_new') }}">Créer un nouveau trick</a>
                {% else %}
                {% endif %}         
                </p>

            </div>
        </div>


        <ul class="pagination">
                <li class="page-item {{ (page==1) ? 'disabled' : ''}}">
                    <a class="page-link" href="?page=1" 
                    aria-label="Previous 1">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only"></span>
                    </a>
                </li>
                <li class="page-item  {{ (page==1) ? 'disabled' : ''}}">
                    <a class="page-link" href="{{ (page > 1)? '?page=' ~ (page - 1) : '' }}" tabindex="-1">Précédent</a>
                </li>               
                {% set pages = (total/limit)|round(0, 'ceil') %}
                {% for item in 1..(pages) %}              
                    <li class="page-item {{ (page==item) ? 'active' : ''}}"><a class="page-link" href="?page={{item}}">{{item}} </a></li>
                {% endfor %}
                <li class="page-item {{ (page==pages) ? 'disabled' : ''}}">
                    <a class="page-link" href="{{ (page < pages)? '?page=' ~ (page + 1) : '' }} " 
                    tabindex="-1">Suivant</a>
                </li>
                <li class="page-item {{ (page==pages) ? 'disabled' : ''}}">
                    <a class="page-link" href="?page={{pages}}" 
                    aria-label="Previous 1">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only"></span>
                        </a>
                </li>
        </ul>
        

    </div>


</div>
{% endblock %}

{% block javascripts %}
    

     <script src= {{asset('js/load_more.js') }}></script>

{% endblock %}